# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Владимир\Desktop\ГУАП\5 семестр\Технология разработки серверных информационных систем\ЛР 3\lab2\.idea
# Editor-based HTTP Client requests
/httpRequests/
